

.control {
  text-align: center;
  margin-right: 1.5rem;
}

.search-wrapper {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 20%;
  z-index: 999 !important;
  background: rgba(255, 255, 255, 0.463);
  backdrop-filter: blur(5px);
  border: 1px solid lightgray;
  overflow: hidden;
  border-radius: 8px;
  padding: 10px;
}

.search-wrapper:hover,
.search-wrapper:focus {
  border: 1px solid #ccc;
}

input {
  outline: none;
  font-size: 1rem;
  border: 1px solid rgb(211, 211, 211);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 15px;
}
.search-control {
  display: flex;
  justify-content: center;
}

button {
  background: #01ac01;
  border: 1px solid lightgray;
  color: white;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.result {
  cursor: pointer;
  text-align: left;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.result:hover {
  background: whitesmoke;
}

#map-area {
  height: 100vh;
  width: 100vw;
}

/* Responsive Media Queries */

@media screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .search-wrapper {
    position: absolute;
    top: 9%;
    width: 100%;
    z-index: 999 !important;
    background: rgb(255, 255, 255);
    border: 1px solid lightgray;
    overflow: hidden;
  }

  .control {
    margin-right: 0;
  }

  .result {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .search-control {
    display: block;
  }

  .search-wrapper {
    position: absolute;
    top: 9%;

    width: 100%;
    z-index: 999 !important;
    background: rgb(255, 255, 255);
    border: 1px solid lightgray;
    overflow: hidden;
  }

  button {
    margin: -1rem 0 0.5rem;
  }
}